html{
    scroll-behavior: smooth;
}
body{
    font-family: sans-serif;
}
#btnTop {
    display: none;
    position: fixed;
    bottom: 28px;
    right: 35px;
    z-index: 99;
    border: none;
    outline: none;
    background-color:gray;
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 15;
    font-size: 18px;
    opacity: 8;
}
