html{
    scroll-behavior: smooth;
}
body{
    font-family: sans-serif;
    background-image: url('https://techcrunch.com/wp-content/uploads/2016/06/softwareworld.jpg');
    backdrop-filter: blur(1);
    backdrop-filter: contrast(50%);
    backdrop-filter: brightness(50%);
}
#items{
    font-size: 100%;
    color: black;
    font-display: block;
    font-weight: bold;
}
#btnTop {
    display: none;
    position: fixed;
    bottom: 28px;
    right: 35px;
    z-index: 99;
    border: none;
    outline: none;
    background-color:gray;
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 15;
    font-size: 18px;
    opacity: 8;
}
